body {
	margin-left:30px;
	margin-right:30px;
	margin-top:auto;
	margin-bottom:auto;
	font-weight:bold;
}

#Hd1 {
	text-align:center;
	font-size:30px;
	font-weight:bold;
	padding:35px;
	background-color:grey;
	color:white;
}

nav li {
	list-style:none;
	padding:2px;
}

nav ul {
	margin: 0px;
}

nav {
	position:relative;
	background-color:grey;
	margin-right:990px;
	margin-left:auto;
}

#nvbtnpg1 {
	color:white;
	font-weight:bold;
}

#kont3n {
	background-color:grey;
	padding: 5px;
	margin-left:250px;
	padding-right:100px;
	color:white;
}

tr {
	margin-bottom:10px;
}